.submit-button {
    margin-top: 20px;
    background-color: #FEBE8C;
    border: 1px solid #F7A4A4;
    border-radius: 10px;
    width: 10%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

.to-login-link {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.acc-info {
    margin-top: 10px;
    margin-bottom: 5px;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
}