.submit-button {
    margin-top: 20px;
    background-color: #FEBE8C;
    border: 1px solid #F7A4A4;
    border-radius: 10px;
    width: 25%;
}

.result {
    margin-top: 10px;
}

.damage-list {
    color: red;
    font-size: larger;
}

.user-info {
    margin-top: 10px;
}

.example {
    margin: 0 30%;
}

.link {
    margin-top: 10px;
}